body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #ffff;
    margin: 0;
    padding: 20px 30px;
    font-family: 'Poppins', sans-serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.logo {
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-logo {
    width: 250px; 
    height: auto; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-1 {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 100%;
}

.left-icons, .right-icons {
    display: flex;
    align-items: center;
}

.left-icons li, .right-icons li {
    margin: 0 10px; 
}

.banner-image {
    width: 500px;
    height: auto;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0; 
    padding: 0; 
    margin: 0; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px; 
    overflow: hidden; 
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd; 
}

.card p {
    margin: 10px 0;
    padding: 0 10px;
}

.card .price {
    color: #555;
    font-weight: bold;
}

  





